<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
    <key>NSMicrophoneUsageDescription</key>
    <string>Muse needs access to your microphone to listen to your responses.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Muse needs speech recognition to understand your words.</string>
</dict>
</plist>
